/* Partials */
* {
    margin: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #6a6a6a;
}

:root {
    --bg-clr: #ffffff;
    --login-form-bg-clr: #f6f8fa;
    --login-form2-bg-clr: hsla(210, 18%, 87%, .4);
    --border-clr: #d8dee4;
    --text-clr: #24292f;
    --input-bg-clr: #fff;
    --input-clr: rgb(70, 70, 70);
    --green-clr: #00a82d;
    --green-hover-clr: #008f26;
    --link-clr: #0969da;
    --otp-btn: #92a0d4;
}

.dark-theme {
    --bg-clr: #161b22;
    --login-form-bg-clr: #21242e;
    --login-form2-bg-clr: #21262d;
    --border-clr: #21262d;
    --text-clr: #dddddd;
    --input-bg-clr: #161b22;
    --input-clr: rgb(223, 223, 223);
    --otp-btn: #636d92;
}

.text-white {
    color: white;
}

.green-text {
    color: var(--green-clr);
    text-decoration: none;
}

.green-text:hover {
    color: var(--green-hover-clr);
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.grid {
    display: grid
}

.center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-center {
    display: grid;
    place-items: center;
}

.classic-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* main */
body {
    display: block;
    background-color: var(--bg-clr);
    padding-top: 32px;
}

.header a {
    outline: none;
}

.tagline {
    color: var(--text-clr);
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 4px;
}

.login-form {
    max-width: 308px;
    background-color: var(--login-form-bg-clr);
    border: 1px var(--border-clr) solid;
    border-radius: 6px;
    padding: 0px 20px 0px 20px;
    margin: 16px auto 16px auto;
}

.form-label {
    color: var(--text-clr);
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    padding-top: 16px;
    text-align: left;
}

.form-input {
    width: 100%;
    height: 32px;
    color: var(--input-clr);
    background-color: var(--input-bg-clr);
    border: 1px solid var(--border-clr);
    border-radius: 5px;
    padding: 6px 12px 7px;
}

.password-div {
    position: relative;
}

#eye {
    position: absolute;
    border-radius: 5px;
    right: 7px;
    z-index: 2;
    top: 2px;
    height: 30px;
    color: white;
    background: transparent;
    transform: translateX(2px);
    border-left: 1px dotted rgb(185, 185, 185);
    cursor: pointer;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.img {
    width: 15px;
}

.forgot-password_link {
    font-size: 12px;
    padding-left: 0px;
}

.link {
    color: var(--link-clr);
    text-decoration: none;
}

.link:hover {
    color: #0e71af;
}

.otp-div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#otp-btn {
    cursor: pointer;
    width: 50%;
    height: 32px;
    font-size: 13px;
    text-overflow: clip;
    border: none;
    border-radius: 5px;
    background-color: var(--otp-btn);
    color: #f0f0f0;
    border: 1px solid var(--otp-btn);
    /* margin-bottom: 24px; */
}

.btn {
    cursor: pointer;
    width: 100%;
    height: 42px;
    font-size: 16px;
    border: none;
    margin-top: 8px;
    border-radius: 5px;
    background-color: var(--green-clr);
    border-color: var(--green-clr);
}

.btn:hover {
    background-color: var(--green-hover-clr);
    border-color: var(--green-hover-clr)
}

.login-form2 {
    max-width: 308px;
    background-color: var(--login-form2-bg-clr);
    border: 1px var(--border-clr) solid;
    border-radius: 6px;
    padding: 3px 20px 10px 20px;
    margin: 16px auto 0px auto;
}

.footer-item {
    color: #57606a;
    margin: auto auto 0px;
    position: relative;
    font-size: 11px;
    padding: 2px 2px;
}

.counter {
    cursor:pointer;
    font-size: 14px;
    color: #f0f0f0;
    left: 213px;
    z-index: 2;
    bottom: 28px;
}

#message {
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: black;
    padding-bottom: 17px;
}